@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



.nav-bar{
  height: 70px;
}

.list-nav-container{
    width: 100%;
    
   

  }  

  .list{
    width: 40%;
    margin: 0 auto;
  }

  .list-item{
    display: inline-block;
    margin-right: 20px;
  }

.logo-principal{
    float: left;
    width: 5%;
    height: auto;
    
}

.nav-button , .nav-button2{
    float: right;
}

hr{
  color: rgba(128, 128, 128, 0) ;
}



  

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap')




